body {
    font-size: large;
    background: #e6b0aa;
}

#page:after {
    color: #fcf3cf;
    content: 'Smartphone Layout';
}

#mainHeader {
    font-size: x-large;
}

#mainNav {
    margin-top: 4px;
    margin-bottom: 4px;
}

#quizzesIndex tr {
    background-color: #f2d7d5;
}

.no-narrow {
    display: none;
}