body {
    background: #a3e4d7;
}

#page:after {
    color: #fcf3cf;
    content: 'Wide Layout';
}

#mainNav {
    flex: 0 auto;
    margin-right: 6px;
}
#mainNav ul {
    flex-direction: column;
}
#mainNav a {
    padding: 1em;
    margin-bottom: 0.2em;
    background-color: #f5b7b1;
}
#mainNav a:hover {background-color: lightcoral;}

#mainSection {
    flex: 1;
    overflow: auto;
}

#quizzesIndex tr {
    background-color: #e9f7ef;
}