<form method="post" action="/quizzes/<%= quiz.id %>/tips">
    <div class="wideRow">
        <span class="itemNarrow">Tip:</span>
        <input type="text" class="itemWide" id="tip" name="text"
               value="" placeholder="New tip" autocomplete="off"/>
        <button type="submit" class="itemNarrow">Add</button>
    </div>
</form>