<h1>
    Result:
</h1>
<p>
    The answer <strong><%= answer %></strong> is <%= result ? 'right' : 'wrong' %>
</p>
<p>
    <% if (!result) { %>
    <a href="/quizzes/<%= quiz.id %>/play?answer=<%= answer %>">Try again</a>
    <% } %>
</p>
<a href="/quizzes"><button>Go back</button></a>