<h1>
    Show quiz:
</h1>
<div class="quizItem">
    <div>
        <% var attachment = quiz.attachment; %>
        <% include ../attachments/_show.ejs %>
    </div>
    <div>
        Question: <b><%= quiz.question %></b>
        <br/>
        Answer: <b><%= quiz.answer %></b>
        <br/>
        <small>(by <%= quiz.author ? quiz.author.username : 'Anonymous' %>)</small>
    </div>
</div>

<h2>
    Tips:
</h2>
<% if (session.user) { %>
<% include ../tips/new.ejs %>
<% } %>
<% var tips = quiz.tips; %>
<% var quizId = quiz.id %>
<% var quizAuthorId = quiz.authorId; %>
<% include ../tips/index.ejs %>

<a href="/goback"><button>Go back</button></a>